.favorites {
    padding: 0 14px;
    margin-top: 10px;
    h2{
        margin-bottom: 281px;
    }
    &__row {
        display: flex;
        justify-content: center;

        p{
            font-style: normal;
            font-weight: 200;
            font-size: 36px;
            line-height: 105%;
        }
        a{
            border: 2px solid transparent;
            transition: all .2s;
        }
            
        a:hover{
            padding-bottom: 4px;
            border-bottom: 1px solid #FF5823;
        }
    }
    &__row:nth-child(2){
        margin-bottom: 10px;
        p{
            padding-bottom: 5px;
            border-bottom: 1px solid #FF5823;
        }
    }
}