
.header {
    max-width: 1920px;
    margin: 0 auto;
    
    &__topinfo {
        background-color: #f2f2f2;
        display: flex;
        justify-content: flex-end;
        padding: 12px 14px 11px 14px;
    }

    &__tel {
        text-decoration: none;
        color: #000000;
        transition: all .1s;
    }



    &__tel:hover{
        color: #FF5823;
    }
    &__mail {
        text-decoration: none;
        color: #000000;
        padding-left: 90px;
        transition: all .1s;
    }
    &__mail:hover{
        color: #FF5823;
    }

    &__bottominfo {
        
        padding: 0 14px 0 14px;
        padding-top: 19px;
        padding-bottom: 32px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__nav {
    }

    &__list {
        display: flex;
        justify-content: space-between;
        

    }

    &__link {
        a{
        text-decoration: none;
        color: #000000;
        border: 2px solid transparent;
        transition: all .2s;
        }
        
        a:hover{
            padding-bottom: 4px;
            border-bottom: 1px solid #FF5823;
        }
    }

    &__navicon {
        text-align: end;
        a{
            transition: all .1s;
            padding-right: 13px;
        }
        a:hover{
            color: #FF5823;
        }
    }
    

    
    &__navicon :last-child{
        padding-right: 0px;
    }
}

.column:nth-child(1){
    flex: 1;
}
.column:nth-child(2){
    flex: 1;
}
.column:nth-child(3){
    flex: 1;
}


.nav {
    &__menu {
        padding-top: 32px;
        display: flex;
        justify-content: space-between;
        padding: 0 14px 0 14px;
        position: relative;
    }

    &__link {
        a{
            text-decoration: none;
            color: #000000;
            transition: all .1s;
        }
        a:hover{
            color: #FF5823;
        }
    }

    &__list1 {
        position: absolute;
        width: 100vh;
        display: flex;
        list-style-type: none;
        margin-top: 40px;
        padding-top: 26px;
        font-size: 16px;
        border-top: 1px solid #FF5823;
    }
}
.list1 {

    &__link {
        padding-right: 41px;
        list-style-type: none;
    }
    &__border{
        padding-left: 7px;
        border-left: 1px solid #FF5823;
    }
    &__link::before{  
    }
}
.link {

    &__caption {
        font-size: 24px;
        padding-bottom: 20px;
    }

    &__nested-menu {
        list-style-type: none;
        
    }

    &__nested-menu-link {
        color: #000000;
        text-decoration: none;
        transition: all .1s;
    }
    &__nested-menu-link:hover {
        color: #FF5823;
    }
}

.nested-menu{
    padding-bottom: 20px;
}

.none{
    display: none;
}